[0;1;31m●[0m nixos
    State: [0;1;31mdegraded[0m
    Units: 351 loaded (incl. loaded aliases)
     Jobs: 0 queued
   Failed: 2 units
    Since: Sat 2026-02-14 06:42:05 WIB; 6min ago
  systemd: 258.3
   CGroup: /
           ├─init.scope
           │ └─[0;38;5;245m1 /run/current-system/systemd/lib/systemd/systemd --switched-root --system --deserialize=42 splash[0m
           ├─system.slice
           │ ├─NetworkManager.service
           │ │ └─[0;38;5;245m903 /nix/store/dhs3gy50nkpapa1px9skf35vbaphxbcp-networkmanager-1.54.3/sbin/NetworkManager --no-daemon[0m
           │ ├─accounts-daemon.service
           │ │ └─[0;38;5;245m784 /nix/store/g1hxv8yw8lnizh0j92zjdwhsypky461m-accountsservice-23.13.9/libexec/accounts-daemon[0m
           │ ├─bluetooth.service
           │ │ └─[0;38;5;245m741 /nix/store/41365c5p7kbrpqya8nlqli6impn87jk4-bluez-5.84/libexec/bluetooth/bluetoothd -f /etc/bluetooth/main.conf[0m
           │ ├─dbus.service
           │ │ └─[0;38;5;245m703 /nix/store/pb9dhpk6qxjybb8p7prvs18ls2vxk51a-dbus-1.14.10/bin/dbus-daemon --system --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only[0m
           │ ├─display-manager.service
           │ │ ├─[0;38;5;245m1550 /nix/store/ma005c98x2dkk0nm3cxkz8wwm3nyzchl-lightdm-1.32.0/sbin/lightdm[0m
           │ │ └─[0;38;5;245m1564 /nix/store/4ip8dc15r758m8yc30bycq0vxj8ic6yg-xorg-server-21.1.21/bin/X -config /nix/store/ajj94i43ywppz895nxcy8h3ams422v53-xserver.conf -xkbdir /nix/store/ndd2cy7nzalasnjrdyz48c90wg9fjzig-xkeyboard-config-2.46/etc/X11/xkb -verbose 3 -nolisten tcp -ardelay 300 -arinterval 35 -terminate -logfile /var/log/X.0.log :0 -seat seat0 -auth /var/run/lightdm/root/:0 -nolisten tcp vt1 -novtswitch[0m
           │ ├─docker.service
           │ │ ├─[0;38;5;245m1698 /nix/store/i6v7ncr4xrkiyzanq77psidq8wr1zl4n-moby-29.2.0/libexec/docker/dockerd --config-file=/nix/store/hk051cxaw8301h7xq106ycawmv8710lz-daemon.json[0m
           │ │ └─[0;38;5;245m1727 containerd --config /var/run/docker/containerd/containerd.toml[0m
           │ ├─nix-daemon.service
           │ │ └─[0;38;5;245m963 nix-daemon --daemon[0m
           │ ├─nscd.service
           │ │ └─[0;38;5;245m2031 /nix/store/wi6sx9fnb17y8kjnnxi64983jwsqywh8-nsncd-1.5.2/bin/nsncd[0m
           │ ├─polkit.service
           │ │ └─[0;38;5;245m918 /nix/store/j43m1hd4drq0p5k3hfq05hhm64kn9x5i-polkit-127/lib/polkit-1/polkitd --no-debug[0m
           │ ├─rtkit-daemon.service
           │ │ └─[0;38;5;245m2258 /nix/store/md6h5xalwyv6h10i2ljckk2a05s73jfz-rtkit-0.14/libexec/rtkit-daemon[0m
           │ ├─systemd-ask-password-plymouth.service
           │ │ └─[0;38;5;245m321 /nix/store/5j9cg6adv3d2l403fcfklz4lmf9fd0l8-systemd-258.3/bin/systemd-tty-ask-password-agent --watch --plymouth[0m
           │ ├─systemd-journald.service
           │ │ └─[0;38;5;245m322 /nix/store/5j9cg6adv3d2l403fcfklz4lmf9fd0l8-systemd-258.3/lib/systemd/systemd-journald[0m
           │ ├─systemd-logind.service
           │ │ └─[0;38;5;245m786 /nix/store/5j9cg6adv3d2l403fcfklz4lmf9fd0l8-systemd-258.3/lib/systemd/systemd-logind[0m
           │ ├─systemd-machined.service
           │ │ └─[0;38;5;245m729 /nix/store/5j9cg6adv3d2l403fcfklz4lmf9fd0l8-systemd-258.3/lib/systemd/systemd-machined[0m
           │ ├─systemd-oomd.service
           │ │ └─[0;38;5;245m534 /nix/store/5j9cg6adv3d2l403fcfklz4lmf9fd0l8-systemd-258.3/lib/systemd/systemd-oomd[0m
           │ ├─systemd-timesyncd.service
           │ │ └─[0;38;5;245m336 /nix/store/5j9cg6adv3d2l403fcfklz4lmf9fd0l8-systemd-258.3/lib/systemd/systemd-timesyncd[0m
           │ ├─systemd-udevd.service
           │ │ └─udev
           │ │   └─[0;38;5;245m356 /nix/store/5j9cg6adv3d2l403fcfklz4lmf9fd0l8-systemd-258.3/lib/systemd/systemd-udevd[0m
           │ ├─tailscaled.service
           │ │ └─[0;38;5;245m1699 /nix/store/agp7zxys3l9mhxak51rgyccwyq45a746-tailscale-1.94.1/bin/tailscaled --state=/var/lib/tailscale/tailscaled.state --socket=/run/tailscale/tailscaled.sock --port=41641 --tun tailscale0[0m
           │ └─wpa_supplicant.service
           │   └─[0;38;5;245m1005 wpa_supplicant -s -u -Dnl80211,wext -c /etc/wpa_supplicant/imperative.conf[0m
           └─user.slice
             └─user-1000.slice
               ├─session-2.scope
               │ ├─[0;38;5;245m2082 lightdm --session-child 13 20[0m
               │ ├─[0;38;5;245m2137 /nix/store/x12lw455sq6qy2wcya85d7rb88ybc3df-bash-interactive-5.3p9/bin/bash /nix/store/2gcf4m8pkxqcg19d5da4qb9j7ah37vbp-xsession-wrapper /nix/store/p8d533nv5k6yklklv43biby0w48c3c77-xsession[0m
               │ ├─[0;38;5;245m2166 /run/current-system/sw/bin/dbus-daemon --syslog --fork --print-pid 5 --print-address 7 --session[0m
               │ ├─[0;38;5;245m2169 bspwm[0m
               │ ├─[0;38;5;245m2211 picom[0m
               │ ├─[0;38;5;245m2218 /bin/sh /home/tquilla/.config/bspwm/bspwmrc 0[0m
               │ ├─[0;38;5;245m2223 /bin/sh /home/tquilla/.config/bspwm/bspwmrc 0[0m
               │ ├─[0;38;5;245m2229 sxhkd[0m
               │ ├─[0;38;5;245m2230 /run/current-system/sw/bin/dunst[0m
               │ ├─[0;38;5;245m2239 /run/current-system/sw/bin/polybar -c /tmp/polybar_full_config.ini top[0m
               │ ├─[0;38;5;245m2240 /run/current-system/sw/bin/polybar -c /tmp/polybar_full_config.ini bottom[0m
               │ ├─[0;38;5;245m2421 st -c TerminalDefault[0m
               │ ├─[0;38;5;245m2427 /run/current-system/sw/bin/zsh[0m
               │ ├─[0;38;5;245m2444 tmux new-session[0m
               │ ├─[0;38;5;245m2446 tmux new-session[0m
               │ ├─[0;38;5;245m2494 -zsh[0m
               │ ├─[0;38;5;245m3681 systemctl status[0m
               │ └─[0;38;5;245m3682 less[0m
               └─user@1000.service
                 ├─app.slice
                 │ ├─gamemoded.service
                 │ │ └─[0;38;5;245m2131 /nix/store/kp2mfz7qj5hq2ssbsxg67kjk7vd5b9dm-gamemode-1.8.2/bin/gamemoded[0m
                 │ └─mpd.service
                 │   └─[0;38;5;245m2141 /nix/store/dmj6bg3xfhjygiqr5mzdh1ij0qq3rksf-mpd-0.24.8/bin/mpd --no-daemon /nix/store/xskwzs64w758pbn4c71mn8dpx6yj8kn0-mpd.conf[0m
                 ├─init.scope
                 │ ├─[0;38;5;245m2099 /nix/store/5j9cg6adv3d2l403fcfklz4lmf9fd0l8-systemd-258.3/lib/systemd/systemd --user[0m
                 │ └─[0;38;5;245m2120 "(sd-pam)"[0m
                 └─session.slice
                   ├─dbus.service
                   │ └─[0;38;5;245m2135 /nix/store/pb9dhpk6qxjybb8p7prvs18ls2vxk51a-dbus-1.14.10/bin/dbus-daemon --session --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only[0m
                   ├─pipewire-pulse.service
                   │ └─[0;38;5;245m2243 /nix/store/z8pz8hz2psggqsws4n7mzbbdghpcxm71-pipewire-1.4.9/bin/pipewire-pulse[0m
                   ├─pipewire.service
                   │ └─[0;38;5;245m2242 /nix/store/z8pz8hz2psggqsws4n7mzbbdghpcxm71-pipewire-1.4.9/bin/pipewire[0m
                   ├─wireplumber.service
                   │ └─[0;38;5;245m2244 /nix/store/8x04isf9xk85l66sfxv1k31j5hbf2kng-wireplumber-0.5.13/bin/wireplumber[0m
                   └─xdg-permission-store.service
                     └─[0;38;5;245m2308 /nix/store/ja1czxh2xbsj0yvif64rcr2rrf4wjyxk-xdg-desktop-portal-1.20.3/libexec/xdg-permission-store[0m
